body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.quote-row{
  position: relative;
  top: 20px;
}
.department{
  text-align: center;
}
.department-wrapper{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 20px;
}
.department [class^=col-] {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
  margin-left: 5px;
  margin-bottom: 15px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.module-wrapper{
  /* text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.module [class^=col-] {
  padding-top: 10px;
  padding-bottom: 10px;
  /* background-color: #eee; */
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
  margin-left: 5px;
  margin-bottom: 15px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */

}
.module [class^=col-] .module-image{
  width: 55px;
  float: left;
}
.module [class^=col-] .info {
  float: left;
}

.module [class^=col-] input {
  float: right;
}


